<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flushbonading.cps.mapper.MaterialMapper">
    <select id="showMaterials" resultType="com.flushbonading.cps.entity.vo.MaterialVO">
        SELECT
            material_id,al,fe,b
        FROM
            t_material
        WHERE
            material_id LIKE CONCAT('%',#{materialId},'%')
        ORDER BY t_material.create_time desc
        LIMIT  #{page},7
    </select>

    <select id="materialCounts" resultType="int">
        SELECT
            COUNT(1)
        FROM
            t_material
        WHERE
            material_id LIKE CONCAT('%',#{materialId},'%')
    </select>

    <insert id="addAMaterial">
        INSERT INTO
            t_material(material_id,al,fe,b)
        VALUES
            (#{material.materialId},#{material.al},#{material.fe},#{material.b})
    </insert>

    <delete id="deleteAMaterialByMaterialId">
        DELETE FROM
            t_material
        WHERE
            t_material.material_id=#{materialId}
    </delete>

    <update id="updateAMaterial">
        UPDATE
            t_material
        SET
            al=#{material.al},fe=#{material.fe},b=#{material.b}
        WHERE
            material_id=#{material.materialId}
    </update>
    <select id="getBrandName" resultType="string">
        SELECT
            material_id
        FROM
            t_material
    </select>
</mapper>
